p {
    padding-top: 100px;
    font-style: italic;
    font-size: 50px;
    color: black;
    font-weight: bold;
}

.boxModel {
    height: 400px;
    width: 400px;
    
    border-width: 20px;
    border-style: solid;
    border-color: palevioletred;
    /*border-radius: 0px;*/

    background-image: url(images/tulipas.jpg);
    text-align: center;
    box-shadow: inset 3px 3px 8px 8px green;
    background-size: cover;

    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;

    outline-width: 16px;
    outline-style: double;
    outline-color: rgb(5, 10, 83);

    margin: auto;
    margin-top: 100px;
}

